<phpunit bootstrap="app/tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Default">
            <directory>app/tests</directory>
        </testsuite>
    </testsuites>
    <!-- <groups> <exclude> <group>sanitychecks</group> </exclude> </groups> -->
    <coverage>
        <exclude>
            <directory suffix=".php">vendor/</directory>
        </exclude>
        <include>
            <directory suffix=".php">app/src</directory>
        </include>
    </coverage>
</phpunit>
