<phpunit bootstrap="app/tests/bootstrap.php" colors="true">
    <testsuite name="Default">
        <directory>app/tests</directory>
    </testsuite>
    <!-- <groups>
        <exclude>
            <group>sanitychecks</group>
        </exclude>
    </groups> -->
    <filter>
    <blacklist>
        <directory suffix=".php">vendor/</directory>
    </blacklist>
    <whitelist>
      <directory suffix=".php">app/src</directory>
    </whitelist>
  </filter>
</phpunit>
