name: Test Silverstripe
on:
  push:
    paths-ignore:
      - README.md
      - LICENSE.md
jobs:
  test:
    name: phpunit
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [7.2, 7.3, 7.4]
    # services:
    #   database:
    #     image: mysql:8
    #     ports:
    #       - 3306:3306
    #     env:
    #       MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    #       TZ: Europe/Zurich
    container: brettt89/silverstripe-web:${{ matrix.php }}-apache
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # - name: Get Composer Cache Directory
      #   id: composer-data
      #   run: |
      #     echo "::set-output name=dir::$(composer config --global data-dir)"
      #
      # - name: Cache Composer Downloads
      #   uses: actions/cache@v1
      #   with:
      #     path: ${{ steps.composer-data.outputs.dir }}
      #     key: ${{ runner.os }}-composer-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
      #     restore-keys: |
      #       ${{ runner.os }}-composer

      - name: Cache PHP dependencies
        uses: actions/cache@v1
        with:
          path: vendor
          key: ${{ runner.OS }}-build-composer-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}

      - uses: php-actions/composer@v2
        with:
          command: install --ignore-platform-reqs

      - name: Run tests
        env:
          SS_DEFAULT_ADMIN_USERNAME: admin
          SS_DEFAULT_ADMIN_PASSWORD: admin
          SS_DATABASE_SERVER: localhost
          SS_DATABASE_NAME: ss_default
          SS_DATABASE_USERNAME: root
          SS_DATABASE_PASSWORD: root
          SS_ENVIRONMENT_TYPE: dev
          TZ: Europe/Zurich
        run: vendor/bin/phpunit app/tests/
